<form method="post" action="{% url 'account_update' request.user.pk %}" enctype="multipart/form-data"  class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {% with field=form.display_name %}{% include "account/form_field.html" %}{% endwith %}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {% with field=form.first_name %}{% include "account/form_field.html" %}{% endwith %}
        </div>
        <div class="form-group col-md-6">
            {% with field=form.last_name %}{% include "account/form_field.html" %}{% endwith %}
        </div>
    </div>

<!-- add more fields here -->

   <div class="form-group">
        {% with field=form.photo %}{% include "account/form_field.html" %}{% endwith %}
    </div>
    <button type="submit" class="btn btn-outline-primary">{% trans "Update" %}</button>
</form>